.active{
    background-color: aquamarine;
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-right: 6px; 
    padding-left: 6px; 
    border-radius: 3px;
    font-weight: 700;
    color: rgb(97, 89, 89);
}