.active{
   
    border: 2px solid aquamarine;
    padding-top: 3px; 
    padding-bottom: 3px; 
    padding-right: 6px; 
    padding-left: 6px; 
    border-radius: 5px;
    font-weight: 700;
    color: rgb(28, 233, 165);
}